[submodule "throw_and_catch_ws/src/open_manipulator"]
	path = throw_and_catch_ws/src/open_manipulator
	url = https://github.com/ROBOTIS-GIT/open_manipulator.git
[submodule "throw_and_catch_ws/src/physical_ai_tools"]
	path = throw_and_catch_ws/src/physical_ai_tools
	url = https://github.com/ROBOTIS-GIT/physical_ai_tools.git
[submodule "throw_and_catch_ws/src/realsense-ros"]
	path = throw_and_catch_ws/src/realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
[submodule "throw_and_catch_ws/src/apriltag_ros"]
	url = git@github.com:kiashik/apriltag_ros.git
